<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Placemat</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <img src="/images/placemat.png" style="float:left; margin:0px 15px 15px 0px; cursor:pointer; cursor:hand; border:0" width="100" height="100" alt="Placemat" />
        <h1>BKB Placemat</h1>                
       
        <div id="list8">
            <ul>
                <% for(var i=0; i < anzeigen.length; i++) {%>
                    <li><%= anzeigen[i] %></li>
                <% } %>   
            </ul>
        </div>
        <form action="" method="POST">            
            <p></p>
            <input type="text" name="tbxName" id="tbxName" placeholder="Mein Name ...">                        
            <p></p>
            <button id="btnButton">Beitreten</button>
        </form>
        <p>&copy; 2018 Mein Name</p>
    </body>
</html>