div {
  
}
 
h1 {
  font: 400 60px/1.5 Helvetica, Verdana, sans-serif;
  color: #444; 
  font-size: 500%;
  margin: 0;
  padding: 0;
}

h2 {
  font: 300 60px/1.5 Helvetica, Verdana, sans-serif;
  color: #444; 
  font-size: 300%;
  margin: 0;
  padding: 0;
}

h3 {
  font: 200 60px/1.5 Helvetica, Verdana, sans-serif;
  color: #444; 
  font-size: 200%;
  margin: 0;
  padding: 0;
}
 
ul {  
  list-style-type: none;
}

img{
  
}

li{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size:6vw;
  margin:0 20px 20px 0; 
  vertical-align:top;
  width: 90%;  
}

button {    
  margin: auto;
  width: 90%;  
  padding: 10px;
  border-radius: 5px;  
  height: 30vw;   
  background-color: rgb(190, 29, 50);
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vw;   
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


button:hover {
  border-radius: 2px;
}

input{
  width:90%;
  border-radius: 5px;
  height: 15vw;     
  font-size:10vw;
  color:rgb(190, 29, 50);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
